
@font-face {
  font-family: thick;
  src: url('OPTIFranklinGothic-Medium.otf');
}


@font-face {
  font-family: italiano;
  src: url('OPTICenturyNova-Italic.otf');
}

@font-face {
  font-family: medium;
  src: url('OPTIFranklinGothic-Medium.otf');
}



* {
    margin: 0;
    padding: 0;
    color: black;
    font-variant: none;
}

.navbar {
    height: 30px;
    width: 100%;
    background-color: black;
    border: 1px solid black;


}






section {

    position: relative;

}

.container {
    max-width: 90rem;
}

.container {

    margin-left: auto;
    margin-right: auto;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
     margin-top: 3rem;
    display: flex;
    align-items: center;

}

h3 {
    letter-spacing: -.05rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.1;
        max-width: 1020px;
        font-family: medium;
}

h1 {
    font-size: 10rem;
 line-height: 145px;
letter-spacing: -4.4px;
    margin-right: 5rem;
    font-family: thick;
font-feature-settings: "liga" 0;


}



.home-wrapper {
       display: flex;


    justify-content: space-evenly;
    align-items: flex-end;


}



@media (max-width: 1080px) {

    .home-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        

    }

    .top {
    flex-direction: column;
    align-items: flex-start
    }

    h1 {
        font-size: 6rem;
        margin-right: 0rem ;
        margin-top: 5rem;
        line-height: 80px;
        font-feature-settings: "liga" 0;
    }

    .container {
            justify-content: flex-start;
            
    }

  
}

.text {
    max-width: 91.6667%;
    flex: 91.6667%;
}

h4 {
    font-size: 15rem;
    line-height: 50px;


}

@media (max-width: 1920px) {

   h4 {

    font-size: 15rem;

    }

}




@media (max-width: 1440px) {

   h4 {

    font-size: 11rem;

    }

}

@media (max-width: 992px) {

   h4 {

    font-size: 8rem;

    }

}

@media (max-width: 768px) {

    h4 {
        font-size: 2rem ;

    }
    
}

main.main {
    padding: 0rem 5rem;
}

.divider{
    margin-top: 3rem;
}

hr {
    padding: .5rem 0rem;
      border-top: 1px solid black;
}

h5 {
    font-family: italiano;
    font-size: 3rem;
    font-weight: 400;
}


.container2 {
    display: flex;
    flex-direction: column;
      align-items: center;
     margin-left: auto;
    margin-right: auto;

     margin-top: 3rem;
         padding: 0rem 5rem;


}


.card1 {
    border: 1px solid black;
    height: 400px;
    border-radius: 60px;
    background-image: url(Rectangle\ 7.png);
    background-repeat: no-repeat;
    margin: 2rem 5rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 700px;
  
}

.yellow {
    border: 1px solid black;
    width: 700px;
    height: 400px;
    border-radius: 60px;
    background-image: url('Rectangle\ 33.png');
      background-repeat: no-repeat;
      margin: 2rem 5rem;
        background-repeat: no-repeat;

    background-position: center;
  
}

.card-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;
    padding: 0rem 5rem;
}


p {
font-size: 4rem;
    font-family: thick;
}

.little {
    padding: 0rem 5rem;
}